<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Token" value="0f995113ea7931bbc41724930f2ae37e" />
		<add key="ApiUrl" value="https://api.openweathermap.org/data/2.5/onecall/timemachine?lat="/>
		<add key="Units" value="metric"/>
		<add key="ApiGeocoding" value="http://api.openweathermap.org/geo/1.0/direct?q="/>
		<add key ="ImageLocation" value ="https://openweathermap.org/img/w/"/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>